<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkurumi.mapper.History_itemMapper">

    <select id="select" parameterType="" resultType="">
    </select>
    <select id="selectall" resultType="">
    </select>
    <insert id="insert" parameterType="history_item">
        INSERT INTO history_item VALUES (#{item_id},#{user_pin})
    </insert>
    <update id="update" parameterType="">
    </update>
    <delete id="delete" parameterType="">
    </delete>

</mapper>